@model WhereIsMyGame.WebApp.MVC.Models.NewFriendViewModel
@using WhereIsMyGame.WebApp.MVC.Extensions

@{
    ViewData["Title"] = "Add New Friend";
}

<section>
    <div>
        <div class="container" style=" padding-top: 20px">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="one">Add New Friend</h3>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="AddFriend">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>                        
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>    
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-info" asp-action="Index">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>