@model WhereIsMyGame.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = @Model.Error;
}
<div class="container">
    <div style="padding-top: 200px; text-align: center">
        @{
            if (Model == null)
            {
                <h2>GAME OVER! Something went wrong, blow your tape and try again! :) </h2>
            }
            else
            {
                <h2>@Html.Raw(Model.ErrorMessage)</h2>
            }
        }
    </div>
</div>