@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <img src="~/images/logo_big.png" />
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-3">What do you do when your friends want to borrow your games?</h1>
                <p class="lead">
                    Don't worry anymore pal! Now you can manage and track all your games right here! Here is the right place
                    for you know where exactly that awesome game you can't find home is.
                    Its so simple, you can add your games, control who borrowed it, and much more. Enjoy it!
                </p>
                <p>
                    <a asp-action="Register" asp-controller="Auth"
                       class="btn btn-lg btn-success" role="button">Sign up today</a>
                </p>
            </div>
        </div>
    </div>
</div>